In [1]:
from stats_utils import *
import scipy.stats as stats

In [2]:
d_bar = 850  # Example mean difference
n = 42       # Example sample size
s_d = 1123   # Example standard deviation of differences
a = .05
df = n - 1

In [3]:
t_value = calculate_t_value(d_bar, n, s_d)
print(f"T-value: {t_value:.4f}")

# Calculate the t-value for a two-tailed test
t_value_conf = stats.t.ppf(1-a/2, df)
print(f"T-value (conf): {t_value_conf:.4f}")

p_value = stats.t.sf(abs(t_value), df=n-1)
print(f"P-value: {p_value:.4f}")

print(f"P-value (conf): {a:.4f}")

T-value: 4.9053
T-value (conf): 2.0195
P-value: 0.0000
P-value (conf): 0.0500

### Test using probability values

In [4]:
perform_hyp_test_probability_verbose(a, p_value)

Using alpha 0.050 and probability value 0.000, we reject the null hypothesis.

### Test using t values

In [5]:
perform_hyp_test_t_verbose(t_value_conf, t_value)

Using the t values, alpha 2.020 and t value 4.905, we reject the null hypothesis.