In [1]:
import math

In [2]:
import numpy as np

In [3]:
from scipy import stats

In [4]:
from stats_utils import *

In [5]:
def calculate_t_value(d_bar, n, s_d):
    # Calculate the standard error
    standard_error = s_d / np.sqrt(n)
    
    # Calculate the t-value
    t_value = d_bar / standard_error
    return t_value

In [6]:
current_year_list = [345, 526, 420, 216, 285, 405, 635, 710, 605, 517, 570, 610]

In [7]:
previous_year_list = [315, 463, 462, 206, 275, 432, 585, 650, 545, 547, 508, 580]

In [8]:
n = len(current_year_list)

In [9]:
df = n -1

In [10]:
d_bar = sum(x - y for x, y in zip(current_year_list, previous_year_list))/ n

In [11]:
s_d = math.sqrt((sum(((x - y) - d_bar) ** 2 for x, y in zip(current_year_list, previous_year_list)) / (n-1)))

In [12]:
a = .05

In [13]:
t_value = calculate_t_value(d_bar, n, s_d)
print(f"T-value: {t_value:.4f}")

# Calculate the t-value for a two-tailed test
t_value_conf = stats.t.ppf(1-a/2, df)
print(f"T-value (conf): {t_value_conf:.4f}")

p_value = stats.t.sf(abs(t_value), df)
print(f"P-value: {p_value:.4f}")

print(f"P-value (conf): {a:.4f}")

T-value: 2.0536
T-value (conf): 2.2010
P-value: 0.0323
P-value (conf): 0.0500

### Test using probability values

In [14]:
perform_hyp_test_probability_verbose(a, p_value)

Using alpha 0.050 and probability value 0.032, we reject the null hypothesis.

### Test using t values

In [15]:
perform_hyp_test_t_verbose(t_value_conf, t_value)

Using the t values, alpha 2.201 and t value 2.054, we fail to reject the null hypothesis.